/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h1,
p {
  color: black; /* Cambiamos el color del texto a negro */
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #444;
  padding: 0.5rem 0;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  margin: 0;
}

nav ul li ul li a {
  padding: 0.5rem 1rem;
  display: block;
}

.hero {
  background: url("../img/cafe.jpg") no-repeat center center/cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.highlights,
.about,
.menu,
.sections,
.cafeteria,
.pasteleria,
.contact {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-icons a {
  color: #fff;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .hero {
    height: auto;
    padding: 2rem 0;
  }
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); /* Ajusta la altura según sea necesario */
}

.menu-image {
  max-width: 100%;
  max-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*----------------------------------*/
.about {
  background: url("../img/cafeteria_1.jpg") no-repeat center center/cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.menu {
  background: url("../img/cafeteria_2.jpg") no-repeat center center/cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact {
  background: url("../img/cafeteria_3.jpg") no-repeat center center/cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.sections {
  background: url("../img/cafeteria_4.jpg") no-repeat center center/cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.cafeteria {
  background: url("../img/cafeteria_4.jpg") no-repeat center center/cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.pasteleria {
  background: url("../img/cafeteria_4.jpg") no-repeat center center/cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
